containr {
    background-color: aquamarine;
    width: 80%;
       .row {
           width: 40%;
           background-color: cadetblue
            p {
                color: red;            }
        }
}